{% extends 'base.html' %}

{% load static %}

{% block title %} - Vaga {{vagas.nome}} {% endblock title %}

{% block body %}
<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 150px">
        <h2 class="font-weight-bold text-white">{{vagas.nome}} - {{vagas.faixa_salarial}}</h2>
        <div class="d-inline-flex text-white">
                <p class="m-0"><strong> Empresa: {{vagas.empresa}}</strong></p>
        </div>

    </div>
</div>
<!-- Header End -->

<!-- Block Start -->
<div class="container-fluid ">
    <div class="container col-md-7">
        <div class="row pb-3">
            <div class="col-lg-6" style="border: red 2px solid ;">
                <p><li class="fa fa-suitcase" aria-hidden="true"></li>
                    {{ vagas.get_vaga_tipo }} - {{vagas.get_senioridade}}
                </p>
                <p><i class="fa fa-building" aria-hidden="true"></i>
                    {{ vagas.get_vaga_tipo }}
                </p>
                <p><i class="fa fa-check-square" aria-hidden="true"></i>
                    {{vagas.faixa_salarial}}
                </p>
                <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    {{vagas.escolaridade}}
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock body %}