<!-- Modal -->
<form action="{% url 'CreateRequisito' %}" method="post">{% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Adicionar requisito</h5>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">X</button>
          </div>
          <div class="modal-body">
            <input type="hidden" class="form-control" name="id_" value="{{vagas.id}}">
            <input type="text" class="form-control" name="nome" value="">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success">Adicionar</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
    </div>
</form>