{% extends 'base.html' %}

{% load static %}

{% block title %}- Home{% endblock %}

{% block body %}
<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
      <div class="col-lg-6 text-center text-lg-left">
        <h4 class="text-white mb-4 mt-5 mt-lg-0">Centro de candidatura</h4>
        <h1 class="display-3 font-weight-bold text-white">
          Novas oportunidades para você!
        </h1>
        <p class="text-white mb-4">
          Somos um dos meios de candidaturas mais eficaz e completo, com percentual de 80% das vagas preenchidas por pessoas
          de boa qualidade como você, e empresas excepcionais.
          Não perca tempo, se inscreva e comece a se candidatar, nós da <a href="{% url 'index' %}" style="color:yellow"><strong >Linke Job</strong></a> torcemos por você!
        </p>
        <a href="" class="btn btn-secondary mt-1 py-3 px-5">Cadastre-se</a>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <img class="img-fluid mt-5" src="{% static 'img/home/header2.png' %}" alt="" />
      </div>
    </div>
  </div>
  <!-- Header End -->



 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
       </div>
      <div class="modal-body">
        hi
      </div>
    </div>
  </div>
</div>

  {% include 'msg_alerts/message-alert.html' %}

  <!-- Diversidades Start -->
  {% include 'index_/diversidade.html' %}
  <!-- Diversidades End -->

  <!-- Informaões Start -->
  {% include 'index_/informacoes.html' %}
  <!-- Informaões End -->

  <!-- Principais requisitos Start -->
  {% include 'index_/principais-requisitos.html' %}
  <!-- Principais requisitos End -->

  <!-- Baixar Book e registrar-se Start -->
  {% include 'index_/baixar-book.html' %}
  <!-- Baixar Book e registrar-se End -->

  <!-- Equipe Start -->
  {% include 'index_/equipe.html' %}
  <!-- Equipe End -->

  <!-- Comentarios Start -->
  {% include 'index_/comentarios.html' %}
  <!-- Comentarios End -->

  <!-- Blog Start -->
  {% include 'index_/blog-start.html' %}
  <!-- Blog End -->

{% if messages %}
<script>

$(document).ready(function() {
  $("#exampleModal").hide();
  $("#exampleModal").click(function showAlert() {
    $("#exampleModal").fadeTo(2000, 500).slideUp(500, function() {
      $("#exampleModal").slideUp(500);
    });
  });
});
</script>
{% endif %}


{% endblock body %}