{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block title %} - Cadastre-se {% endblock title %}

{% block body %}

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4" style="min-height: 80vh;">
        <div style="align-items: center; display:flex; justify-content: center;">
          {% include 'msg_alerts/message-alert.html' %}
        </div>

      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-left">
              <h2 class="fw-bold mb-5">Cadastre-se</h2>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    <div class="input-group input-group-outline mb-3">
                    {% render_field field class="form-control" %}
                    </div>
                    {% endif %}

                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Cadastrar
                </button>
                <div class="row">
                    <div class="col-sm">
                      <a href="{% url 'login' %}"  class="btn btn-success btn-block mb-4 ">
                        <i class="fas fa-sign-in-alt"></i></i> Login
                      </a>
                    </div>
                    <div class="col-sm">
                      <a href="{% url 'login' %}" class="btn btn-warning btn-block mb-4 ">
                        <i class="fas fa-unlock-alt"></i> Recuperar senha
                      </a>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="{% static 'image/register.png' %}" class="w-100 rounded-4 shadow-4  col-md-10"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock body %}