{% extends 'base.html' %}

{% load static %} 

{% block title %} - Login {% endblock title %} 

{% block body %} 

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4" style="min-height: 80vh;">

    <div style="align-items: center; display:flex; justify-content: center;">
        {% include 'msg_alerts/message-alert.html' %}
    </div>

      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Login</h2>
              
                <!-- 2 column grid layout with text inputs for the first and last names -->

                <form method="POST"> {% csrf_token %} 
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input name="username" type="text" id="form3Example3" class="form-control" placeholder="Enter your email" />
                      <label class="form-label" for="form3Example3">E-mail</label>
                    </div>
      
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input name="password" type="password" id="form3Example4" class="form-control" placeholder="Enter your Password" />
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                    
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block mb-4">
                      Fazer login
                      <li class="fas fa-sign-in-alt px-2"></li>
                    </button>
                    <div class="row">
                      <div class="col-sm">
                        <a href="{% url 'login' %}"  class="btn btn-primary btn-block mb-4 ">
                          <i class="fas fa-user-plus px-2"></i> Cadastre-se
                        </a>
                      </div>
                      <div class="col-sm">
                        <a href="{% url 'login' %}" class="btn btn-warning btn-block mb-4 ">
                          <i class="fas fa-unlock-alt px-2"></i> Recuperar senha
                        </a>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
          
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="{% static 'image/login.svg' %}" class="w-100 rounded-4 shadow-4"alt="" />
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
{% endblock body %}