  <!-- Baixar Book e registrar-se Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <p class="section-title pr-5">
            <span class="pr-2">Guia do desenvolvedor</span>
          </p>
          <h1 class="mb-4">Receber um Book de instruções</h1>
          <p>
           Nesse documento contém um passo a passo de como ter um curriculo profissional e
           como você pode aprimorar seus conhecimentos nas vagas mais publicadas na LINKE JOB. 
            Obs: <strong>Este é nosso segredo.</strong>
          </p>
          <ul class="list-inline m-0">
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>Curriculo perfeito.
            </li>
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>Profissionais mais procurados.
            </li>
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>Cursos mais indicados.
            </li>
          </ul>
          <a href="" class="btn btn-primary mt-4 py-2 px-4">Baixar Book agora</a>
        </div>
        <div class="col-lg-5">
          <div class="card border-0">
            <div class="card-header bg-secondary text-center p-4">
              <h1 class="text-white m-0">Me envie o Book</h1>
            </div>
            <div class="card-body rounded-bottom bg-primary p-5">
              <form>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control border-0 p-4"
                    placeholder="Seu Nome"
                    required="required"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control border-0 p-4"
                    placeholder="Seu E-mail"
                    required="required"
                  />
                </div>
                <div class="form-group">
                  <select
                    class="custom-select border-0 px-4"
                    style="height: 47px"
                  >
                    <option selected>Selecione seu perfil</option>
                    <option value="1">Júnior</option>
                    <option value="2">Pleno</option>
                    <option value="3">Sênior</option>
                  </select>
                </div>
                <div>
                  <button
                    class="btn btn-secondary btn-block border-0 py-3"
                    type="submit"
                  >
                    Receber Book agora
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Baixar Book e registrar-se End -->