  <!-- Blog Start -->
  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Ultimas informaões</span>
        </p>
        <h1 class="mb-4">Ultimas informações da Linke Job</h1>
      </div>
      <div class="row pb-3">
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="img/blog-1.jpg" alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Lucas Silva</h4>
              <div class="d-flex justify-content-center mb-3">
                <small class="mr-3"
                  ><i class="fa fa-user text-success"></i> Dono</small
                >
                <small class="mr-3"
                  ><i class="fab fa-python text-primary"></i></i> Desenvolvedor Python</small
                >
                <small class="mr-3"
                  ><i class="fa fa-star" style="color:gold ;"></i> 15</small
                >
              </div>
              <p>
                Para se candidatar as vagas, você precisa preencher os dados do seu perfil,
                te indicamos as vagas que tem mais a ver com seu perfil profissional
              </p>
              <a href="" class="btn btn-primary px-4 mx-auto my-2"
                >Gostei <i class="fa fa-heart ml-1" style="color: red;"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="img/blog-1.jpg" alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Lucas Silva</h4>
              <div class="d-flex justify-content-center mb-3">
                <small class="mr-3"
                  ><i class="fa fa-user text-success"></i> Dono</small
                >
                <small class="mr-3"
                  ><i class="fab fa-python text-primary"></i></i> Desenvolvedor Python</small
                >
                <small class="mr-3"
                  ><i class="fa fa-star" style="color:gold ;"></i> 10</small
                >
              </div>
              <p>
                Quando você se cadastrar no nosso sistema, nós iremos estar te enviando por email
                as vagas mais compatíveis com você e as novas vagas adicionadas.
              </p>
              <a href="" class="btn btn-primary px-4 mx-auto my-2"
                >Gostei <i class="fa fa-heart ml-1" style="color: red;"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="img/blog-1.jpg" alt="" />
            <div class="card-body bg-light text-center p-4">
              <h4 class="">Lucas Silva</h4>
              <div class="d-flex justify-content-center mb-3">
                <small class="mr-3"
                  ><i class="fa fa-user text-success"></i> Dono</small
                >
                <small class="mr-3"
                  ><i class="fab fa-python text-primary"></i></i> Desenvolvedor Python</small
                >
                <small class="mr-3"
                  ><i class="fa fa-star" style="color:gold ;"></i> 7</small
                >
              </div>
              <p>
                A equipe <strong>Linke Job</strong> vai estar lançando desafios para ser contratado diretamente para
                alguma empresa, então mantenha-se atualizado na plataforma.
              </p>
              <a href="" class="btn btn-primary px-4 mx-auto my-2"
                >Gostei <i class="fa fa-heart ml-1" style="color: red;"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog End -->