  <!-- Diversidades Start -->
  <div class="container-fluid pt-5">
    <div class="container pb-3">
      <div class="row">
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <h4>Programação</h4>
              <p class="m-0">
                Diversas vagas, com todos os níveis de conhecimento, criadas para você
                ...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <h4>Musicas</h4>
              <p class="m-0">
                Você pode houvir suas musicas favoritas enquanto desenvolve sua experiências ...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <h4>Antes</h4>
              <p class="m-0">
                Valorizamos arte e cultura e pedimos que as empresas prezem este valor também...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <h4>Vale Transporte</h4>
              <p class="m-0">
                A maioria das vagas te disponibilizam vale transporte, ajudando na locomoção...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <h4>Alimentação Saudavel</h4>
              <p class="m-0">
                Temos aulas mostrando como ter uma alimentação saudavel no home office ...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="d-flex bg-light shadow-sm border-top rounded mb-4"
            style="padding: 30px"
          >
            <i
              class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"
            ></i>
            <div class="pl-4">
              <h4>Educação</h4>
              <p class="m-0">
                Tambem fornecemos cursos para te ajudar a se tornar profissional na sua area...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Diversidades End -->
