  <!-- Equipe Start -->
  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Desenvolvedores</span>
        </p>
        <h1 class="mb-4">Programadores e Professores Linke Job</h1>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 text-center team mb-5">
          <div
            class="position-relative overflow-hidden mb-4"
            style="border-radius: 100%"
          >
            <img class="img-fluid w-100" src="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f469-1f3eb.png" alt="" />
            <div
              class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute"
            >
              <a
                class="btn btn-outline-light text-center mr-2 px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-outline-light text-center mr-2 px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-outline-light text-center px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <h4>Julia </h4>
          <i>Professora de inglês</i>
        </div>
        <div class="col-md-6 col-lg-3 text-center team mb-5">
          <div
            class="position-relative overflow-hidden mb-4"
            style="border-radius: 100%"
          >
            <img class="img-fluid w-100" src="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f9d1-1f4bb.png" alt="" />
            <div
              class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute"
            >
              <a
                class="btn btn-outline-light text-center mr-2 px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-outline-light text-center mr-2 px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-outline-light text-center px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <h4>Lucas Silva</h4>
          <i>Desenvolvedor Python</i>
        </div>
        <div class="col-md-6 col-lg-3 text-center team mb-5">
          <div
            class="position-relative overflow-hidden mb-4"
            style="border-radius: 100%"
          >
            <img class="img-fluid w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH_82K-9zxyzN45tfanwIt_rDUPE28gdO-aS9gZzTjcCLzGgPxAJZoOGZrO51tq3GF-DI&usqp=CAU" alt="" />
            <div
              class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute"
            >
              <a
                class="btn btn-outline-light text-center mr-2 px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-outline-light text-center mr-2 px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-outline-light text-center px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <h4>Carla dias</h4>
          <i>Tech Recuiter</i>
        </div>
        <div class="col-md-6 col-lg-3 text-center team mb-5">
          <div
            class="position-relative overflow-hidden mb-4"
            style="border-radius: 100%"
          >
            <img class="img-fluid w-100" src="https://images.emojiterra.com/google/android-11/512px/1f468-1f4bb.png" alt="" />
            <div
              class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute"
            >
              <a
                class="btn btn-outline-light text-center mr-2 px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-outline-light text-center mr-2 px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-outline-light text-center px-0"
                style="width: 38px; height: 38px"
                href="#"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <h4>Patrick Still</h4>
          <i>Desenvolvedor FrontEnd</i>
        </div>
      </div>
    </div>
  </div>
  <!-- Equipe End -->