{% load static %}

  <!-- Informaões Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <img
            class="img-fluid rounded mb-5 mb-lg-0"
            src="https://liferay-cdn.estacioprd.net/documents/316123/331967/MARKETING_banner.png/0e7353ea-9912-0dbb-ff81-2496920705a0?t=1595641295925"
            alt=""
          />
        </div>
        <div class="col-lg-7">
          <p class="section-title pr-5">
            <span class="pr-2">Uma ideia genial</span>
          </p>
          <h1 class="mb-4">Tenha mais sucesso</h1>
          <p>
            Nossa plataforma foi feitar 100% com intuito de ajudar as pessoas a entrarem no mercado
            de trabalho, e por isso criamos alguns cursos Grátis, para te inpulsionar nas vagas mais procuradas dentre as demais.
            Ainda de termos uma IA que te mostras vagas de acordo com seu perfil, e assim facilitamos suas buscas.
          </p>
          <div class="row pt-2 pb-4">
            <div class="col-6 col-md-4">
              <img class="img-fluid rounded" src="img/about-2.jpg" alt="" />
            </div>
            <div class="col-6 col-md-8">
              <ul class="list-inline m-0">
                <li class="py-2 border-top border-bottom">
                  <i class="fa fa-check text-primary mr-3"></i>Ficará deixa mais preparado
                </li>
                <li class="py-2 border-bottom">
                  <i class="fa fa-check text-primary mr-3"></i>Saberá se apresentar nas entrevistas
                </li>
                <li class="py-2 border-bottom">
                  <i class="fa fa-check text-primary mr-3"></i>Terá um currículo mais poderoso
                </li>
                <li class="py-2 border-bottom">
                  <i class="fa fa-check text-primary mr-3"></i>Será mais notado dentre os demais
                </li>
              </ul>
            </div>
          </div>
          <a href="" class="btn btn-primary mt-2 py-2 px-4">Ver mais...</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Informaões End -->