{% load static %}

  <!-- Principais requisitos Start -->
  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Requisitos mais populares</span>
        </p>
        <h1 class="mb-4">Requitisos para desenvolvedores</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="{% static 'img/home/jr.png' %}" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Júnior</h4>
              <p class="card-text">
                O desenvolvedor Júnior requer apenas conhecimentos em algumas
                tecnologias da atualidade
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Anos</strong>
                </div>
                <div class="col-6 py-1"> 2 anos</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Especialidade</strong>
                </div>
                <div class="col-6 py-1">Web</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Horarios</strong>
                </div>
                <div class="col-6 py-1">6 a 8 horas/dia</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Salário médio</strong>
                </div>
                <div class="col-6 py-1">R$ 3,000/mês</div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4">Vagas Júnior</a>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="{% static 'img/home/pl.png' %}" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Pleno</h4>
              <p class="card-text">
                O desenvolvedor Pleno requer conhecimentos e experiências em técnologias atuais
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Anos</strong>
                </div>
                <div class="col-6 py-1"> 4 anos</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Especialidade</strong>
                </div>
                <div class="col-6 py-1">Web</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Horarios</strong>
                </div>
                <div class="col-6 py-1">8 horas/dia</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Salário médio</strong>
                </div>
                <div class="col-6 py-1">R$ 6,000/mês</div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4">Vagas Pleno</a>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="{% static 'img/home/sr.png' %}" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Sênior</h4>
              <p class="card-text">
                O desenvolvedor Sênior tem que ter conhecimentos e experiências comprovadas
                em programaão
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Anos</strong>
                </div>
                <div class="col-6 py-1"> 6 anos</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Especialidade</strong>
                </div>
                <div class="col-6 py-1">Web/Desktop</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Horarios</strong>
                </div>
                <div class="col-6 py-1">8 horas/dia</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Salário médio</strong>
                </div>
                <div class="col-6 py-1">R$ 12,000/mês</div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4">Vagas Sênior</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Principais requisitos End -->