{% extends 'base.html' %}

{% load static %}

{% block title %}- deletar {{vagas.nome}} {% endblock %}

{% block body %} 
<!-- Modal -->
<div class="d-flex flex-column align-items-center justify-content-center"style="min-height: 300px">
  <form action="" method="post">{% csrf_token %}
    <h2 class="title" id="staticBackdropLabel">Deseja deletar: {{vagas.nome}} ?</h2>
    <p>Lembrando que após a confirmação, não tera como desfazer.</p>
    <div class="d-inline-flex text-white">
      <button type="submit" class="btn btn-outline-danger mr-3">Confirmar</button>
      <a href="{% url 'admin' %}" class="btn btn-outline-secondary mr3" >Voltar</a>
    </div>
  </form>
</div
{% endblock body %}